<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<booleanAttribute key="com.ibm.debug.breakpoints.java.appendFile" value="false"/>
<stringAttribute key="com.ibm.debug.breakpoints.java.traceFilename" value="${workspace_loc}\${launch_config_name}_${launch_timestamp}.log"/>
<booleanAttribute key="com.ibm.debug.breakpoints.java.traceToConsole" value="true"/>
<booleanAttribute key="com.ibm.debug.breakpoints.java.traceToFile" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/creneaux/src/bcbl/planning/arbitrage/Planning.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bcbl.planning.arbitrage.Planning"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-extract &quot;data\2017_2018_bcbl_ghb_phase2.xls&quot; -output &quot;tests\2017-2018 Planning arbitrage et OTM phase2.xls&quot; -onglet &quot;Phase 2&quot; -mapping data\mapping_2017_2018.properties -licenciesX &quot;C:\usr\Personnel\basket\equipes\saison 2017_2018\2017-2018 Listing Licencies.xls&quot; -overwriteX"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="creneaux"/>
</launchConfiguration>